body
{
	background-color:#F5F5F5;
}

#login
{
    margin:auto;
    font-size:16px;
    margin-top:200px;
    width:400px;
}

#login h1
{
    margin-bottom:5px;
    border-radius:15px;
    border:2px solid #888;
    padding:4px;
    font-size:35px;
    text-align:center;
    color:#FFF;
    background-color:#555;
    font-family:Helvetica;
}

#login form
{
    background-color:#CCFF33;
    padding:20px;
    border-radius:15px;
    border:2px solid #888;
}

#login label
{
    display:block;
    float:left;
    width:140px;
    padding-top:4px;
}

#login input
{
    display:block;
    margin-bottom:10px;
}

#login input[type=submit]
{
    margin:auto;
    width:100px;
    height:40px;
    background-color:white;
    border:2px solid #888;
    border-radius:10px;
    color:#333;
    font-size:15px;
    font-weight:bold;
    margin-top:20px;
}
